body {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  background-size: 400% 400%;
  animation: gradientBG 20s ease infinite;
  font-family: sans-serif;
}

@keyframes gradientBG {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

h1 {
  padding: 1%;
}

.fade-up {
  transition: all 0.5s ease;
  transform: translateY(-10px);
  opacity: 0;
}

.fade-up.show {
  transform: translateY(0);
  opacity: 1;
}

input::placeholder {
  color: #666666;
}
